* {
    margin:     0;
    padding:    0;
    box-sizing: border-box;
}

body {
    font-family:      'Montserrat', sans-serif !important;
    background-color: #f7f7f7;
}


input[type=text], input[type=email] {
    -webkit-appearance: none;
}

input {
    font-family: 'Montserrat', sans-serif !important;
    outline:     none;


}